#pullreqselect_bar{
    display: none;
    box-shadow: 3px 3px 6px #c4c4c0;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    width:100%;  
  }
  
  #commitselect_bar{
    box-shadow: 3px 3px 6px #c4c4c0;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    width:100%;

  }

  .pull_bar{
    float:right;   
  }


  .bargraph{
    height:100%;
    width:100%; 
    font-size:Roboto;
  }