.contriheading h3
{
  font-size:18px;
  padding:20px 0px 0px 0px;
  font-family:'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
}

.contributorlist{
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

div.contriheading {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #00BCD4;
    padding: 10px;
    font-size: 20px;
    box-shadow: 3px 0px 6px #707070;
}

.Projects .card{
  position: absolute;
  text-align: center;
  width:100%;
  height: 86vh;
  overflow:auto;
  margin-bottom: 20px;
}

.memberp p
{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#00BCD4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(59, 126, 133); 
  }