.projectlistdiv {
	background-color: : #323544;
	overflow-x: scroll;
	color: white;
	padding: 20px;
  width: 400px;
  height: 800px;
  box-shadow: 3px 3px 6px solid black;
}

.projecthead {
	font-size: 2.4em;
	font-weight: 600px;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px; 
}

.projectlist {
	color: white;
	text-decoration: none;
	padding: 5px;
  list-style-type: none;
}