.column {
    float: left;
    width: 15%;
    padding: 10px;
  }

  .row{
    margin: 10px;
    
  }
  .card
  {
    background-color:#FFFFFF; 
    border: 1px;
    box-shadow:0 4px 4px #ccc; 
    width: 203px;
    height: 235px;
   /* padding: 1px 16px; */
    border-radius: 4px;
  }  
  
  .card hr{
    margin: 3px 4px;
    background-color: #bdbdbd;
    height: 1px;
  }

  .card:hover{
    background-color: #FFF5EE;
      
  }

  .card span{
    font-size:20px;
    padding: 5px 15px;
    font-family:Roboto;
    color:#707070;
  }
  
  .card h5{
    font-family:Roboto;
    color:#707070;
    font-size: 16px;
    padding: 0px 15px;
  }
  .card p{
    font-family:Roboto;
    color:#000000;
    font-size: 18px;
    padding: 0px 15px;
    }
  
  .cir1{
    display:inline-block;
    background-color:red;
    width:21px;
    height:21px;
    border-radius:50px; 
  }
  
  .cir2{
    display:inline-block;
    background-color:#7C4DFF;
    width:21px;
    height:21px;
    border-radius:50px;  
  }
  
  .cir3{
    display:inline-block;
    background-color:#FFC107;
    width:21px;
    height:21px;
    border-radius:50px;  
  } 
  