  .linechart{
    height:300px;
    width:500px;
  }


  #pullreqselect{
    display: none;
    float: right;
    
  }
  
  #commitselect{
    display: none;
    
  
  }

  #pull{
     
    float:right;
   
    
  }


  .piechart {
    height:300px;
    width:600px;
  }

  .barchart {
    height:300px;
    width:600px;
  }